body {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: aqua;
}

#title {
    display: flex;
    margin: 20px;
    padding-left: 200px;
    padding-right: 200px;
    border: solid yellowgreen 10px;
    border-radius: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    background-color: blue;
}

.container {
    margin-top: 70px;
    display: flex;
    width: 640px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.container div {
    box-sizing: border-box; /*border box calculates the border, padding, etc, and squeezing it inside*/
    background-color: white;
    border: transparent 1px;
    opacity: 10%;
}